<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 메인화면</title>
    <style>
      .post-thumbnail {
        width: 200px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
      }

      @media (max-width: 768px) {
        .post-thumbnail {
          width: 150px;
          height: 100px;
        }
      }

      @media (max-width: 480px) {
        .post-thumbnail {
          width: 100px;
          height: 75px;
        }
      }
    </style>
  </head>
  <body>
    <a href="{% url 'main' %}">메인홈</a>
    <a href="{% url 'mypage' %}">마이페이지</a>
    <hr />
    <br />
    <a href="{% url 'community_create' %}" class="create-button">글쓰기</a>
    <br>
    <br>
    <form method="GET" action="{% url 'community' %}">
      <label for="category">카테고리 선택:</label>
      <select name="category" id="category" onchange="this.form.submit()">
          <option value="">전체</option>
          <option value="review" {% if request.GET.category == 'review' %}selected{% endif %}>여행 후기</option>
          <option value="accommodation" {% if request.GET.category == 'accommodation' %}selected{% endif %}>숙소 추천</option>
          <option value="free" {% if request.GET.category == 'free' %}selected{% endif %}>자유</option>
      </select>
  </form>

    {% for post in posts %}
    <div class="post-item">
      <h2>
        <a href="{% url 'community_detail' post.id %}">{{ post.title }}</a>
      </h2>
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-thumbnail">  <!-- 미리보기 사진 -->
      {% endif %}
      <p>{{ post.content|truncatewords:20 }}</p>
      <p>카테고리 - {{ post.get_category_display }}</p>
      <p>좋아요 - {{ post.get_likes_count }}</p>
      <p>{{ post.created_at }}</p>
    </div>
    {% endfor %}
  </body>
</html>